<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Editar Filme</title>
</head>
<body>
    <h2>Editar Filme</h2>
    <form method="POST">
        <label>Título:</label><input type="text" name="titulo" value="{{ filme.titulo }}"><br><br>
        <label>Diretor:</label><input type="text" name="diretor" value="{{ filme.diretor }}"><br><br>
        <label>Ano:</label><input type="number" name="ano" value="{{ filme.ano }}"><br><br>
        <label>Gênero:</label><input type="text" name="genero" value="{{ filme.genero }}"><br><br>
        <button type="submit">Atualizar</button>
    </form>
    <a href="{{ url_for('listar_filmes') }}">Voltar</a>
</body>
</html>
